.bg-jump{
    background: url(/src/img/bg-contrata-hoy/jump/drew-graham-PVyhz0wmHdo-unsplash.png) no-repeat; 
    background-position: bottom;
    height: 100vh;
}

.bg-qwerty{
    background: url(/src/img/bg-contrata-hoy/qwerty/nordwood-themes-bJjsKbToY34-unsplash.png) no-repeat; 
    background-position: bottom;
    height: 8em;
    zoom: 1.1;
}
.more{
    width: 19px;
    height: 19px;
}

.style-card{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 23px;
    opacity: 1;
}

.header-card{
    background-color: #0063BC;
    color: #fff;
    border-radius: 23px 23px 0px 0px;
}