.call{
    width: 45px;
    height: 45px;
}
.logo{
    width: 170px;
    height: 73;
}

.marker{
    width: 32px;
    height: 48px;
}

.bg-grey{
    background-color: #DCDCDC;
}

.terminos-grey{
    color: #858585;
}

.btn-orange{
    background-color: #FF6A00;
    color: #fff;
}